@model List<Movie2Module>

<h1>Movies</h1>

@*@foreach(var movie in Model){
	<p>@movie.Title</p>
	<p>@movie.Description</p>
	<p>@movie.DateCreated</p>
	<br />
}*@

<ul>
	@foreach (var movie in Model)
	{
		<li>
			<p><b>Title:</b> @movie.Title (@movie.ReleaseDate)</p>
			<p><b>Description:</b> @movie.Description</p>
		</li>
	}
</ul>