@model IEnumerable<PopularMovieResultModule>
@{
	ViewData["Title"] = "Movies";
	string posterPath = "https://image.tmdb.org/t/p/w500";
	string ratingColor;
}

<div class="search-section">
	<h1>Movies</h1>
	<div class="top-nav">
		<p>Sort By:</p>
		<button type="button" class="btn btn-primary">Rating</button>
		<button type="button" class="btn btn-primary">Popularity</button>
		<button type="button" class="btn btn-primary">Number of votes</button>
		<form method="post">
			<input type="text" placeholder="Search" />
		</form>
	</div>
</div>

<h3>What's Popular</h3>
@if (true)
{
	<div class="container">
		<div class="row">
			@foreach (var movie in Model)
			{
				if (float.Parse(movie.Rating) >= 8)
				{
					ratingColor = "green";
				}
				else if (float.Parse(movie.Rating) >= 5)
				{
					ratingColor = "orange";
				}else
				{
					ratingColor = "red";
				}

				<div class="card">
					<a href="">
						<img src="@(posterPath + movie.PosterPath)" class="card-img-top" alt="@movie.Title poster">
					</a>
					<div class="card-body">
						<div class="rating @ratingColor">
							<p>@float.Parse(movie.Rating).ToString("0.0")</p>
						</div>
						<h5 class="card-title"><a href="">@movie.Title</a></h5>
						<h6>@movie.ReleaseDate.ToString("MMM dd, yyyy")</h6>
					</div>
					<img class="info" src="~/images/information.png" alt="info button">
				</div>
			}
		</div>
	</div>
}else{
	<p>Loading...</p>
}

@section MovieStylesSection {
	<link rel="stylesheet" href="~/css/movies.css" />
}
@section MovieScriptsSection {
	<script src="~/js/renderMovieInfo.js"></script>
}
@*@section MovieInfoSection {
	<div id="dark"></div>
	<div class="info-tab"></div>
}*@