@model TmdbSingleMovieModel
@{
    ViewData["Title"] = Model.Title + $" ({Model.ReleaseDate.Year})";
    string backDropPath = "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces";
    string posterPath = "https://image.tmdb.org/t/p/w500";

    int hours = Convert.ToInt32(Model.Runtime / 60);
    double minutes = Math.Round(Convert.ToDouble(Model.Runtime / 60.0 - hours) * 60);

    int index = 0;
}

<div class="main-container">
    <span class="backdrop" style="background-image: url(@(backDropPath + @Model.BackdropPath));"></span>
    <span class="blur-color"></span>
    <section class="information-container">
        <div class="info-img">
            <img src="@(posterPath + Model.PosterPath)" alt="@Model.Title poster">
        </div>
        <div class="info-main">
            <div class="header-info">
                <div>
                    <h1>@Model.Title</h1>
                </div>
                <div>
                    <ul>
                        <li>@Model.ReleaseDate.Year</li>
                        <li>@($" • {hours}h {minutes}m")</li>
                    </ul>
                </div>
            </div>
            <div class="user-score">
                <p class="rating-small">User Score</p>
                <div>
                    <img src="~/images/star.png" />
                    <b>@float.Parse(Model.Rating).ToString("0.0")</b>
                    <span class="rating-small">/10</span>
                </div>
                <span class="rating-small">@Model.VoteCount.ToString("#,##0") Ratings</span>
            </div>
            <div class="overview-info">
                @if (Model.Tagline != null)
                {
                    <div id="tagline">@Model.Tagline</div>
                }
                <h4>Overview</h4>
                <div id="description">@Model.Description</div>
            </div>
        </div>
    </section>
</div>
<div class="details-container">
    <div class="main-details">
        <h3>Top Cast</h3>
        <div class="actors media-scroller">
                @foreach (var actor in Model.Actors)
                {
                    <div class="card">
                        <a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@actor.Id">
                            @if (actor.Photo != null)
                            {
                                <img src="@(posterPath + actor.Photo)" class="card-img-top">
                            }
                            else
                            {
                                <img src="~/images/default-icon.png" class="card-img-top">
                            }
                        </a>
                        <div class="card-body">
                            <p class="card-title">
                                <a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@actor.Id">@actor.Name</a>
                            </p>
                            <p class="small">@actor.Character</p>
                        </div>
                    </div> 
                    index++;
                    if (index == 10)
                    {
                        <div class="more-actors">
                            <a href="#">View more</a>
                        </div>
                        break;
                    }
                }
        </div>
    </div>
    <div class="aside-details">
        <div class="aside-member">
            <h5>Budget</h5>
            @if (Model.Budget == 0 || Model.Budget == null)
            {
                <p>-</p>
            }
            else
            {
                <p>$@(((int)@Model.Budget).ToString("#,##0.00"))</p>
            }
            
        </div>
        <div class="aside-member">
            <h5>Revenue</h5>
            @if (Model.Revenue == 0 || Model.Revenue == null)
            {
                <p>-</p>
            }
            else
            {
                <p>$@(((int)@Model.Revenue).ToString("#,##0.00"))</p>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/moviesSingle.css" />
}