@model UserSingleMovieModel
@{
    ViewData["Title"] = Model.Title + (Model.DatePublished != null ? $" ({Model.DatePublished.Value.Year})" : "");

    int hours = Convert.ToInt32(Model.Runtime / 60);
    double minutes = Math.Round(Convert.ToDouble(Model.Runtime / 60.0 - hours) * 60);

    int index = 0;

    User reviewUserOwner = null;
    if (Model.Review != null)
    {
        reviewUserOwner = Model.ReviewOwner;
    }
}

<div class="main-container">
    @if (Model.BackdropPath != null)
    {
        <span class="backdrop" style="background-image: url(@Model.BackdropPath)"></span>
    }
    else
    {
        <img class="backdrop" src="~/images/default-movie-backdrop.png" />
    }
    <span class="blur-color"></span>
    <section class="information-container">
        <div class="info-img">
            @if (Model.Poster != null)
            {
                <img src="@Model.Poster" />
            }
            else
            {
                <img src="~/images/default-poster1.png" />
            }
        </div>
        <div class="info-main">
            <div class="header-info">
                <div>
                    <h1>@Model.Title</h1>
                </div>
                <div>
                    <ul>
                        @if (Model.DatePublished != null)
                        {
                            <li>@Model.DatePublished.Value.Year</li>
                        }
                        @if (minutes != 0 && hours != 0)
                        {
                            <li>@($" • {hours}h {minutes}m • ")</li>
                        }
                        @if (Model.Genres != null)
                        {
                            var genres = Model.Genres.Split(", ", StringSplitOptions.TrimEntries);
                            foreach (var genre in genres)
                            {
                                <li>@($"{genre} ")</li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="user-score">
                <p class="rating-small">User Score</p>
                @if (Model.VoteCount != null && Model.VoteCount > 0)
                {
                    <div>
                        <img src="~/images/star.png" />
                        <b>@float.Parse(Model.Rating).ToString("0.0")</b>
                        <span class="rating-small">/10</span>
                    </div>
                    <span class="rating-small">@Model.VoteCount.Value.ToString("#,##0") Ratings</span>
                }
                else
                {
                    <div>
                        <img src="~/images/star.png" />
                        <b>NR</b>
                    </div>
                }
            </div>
            <div class="overview-info">
                @if (Model.Tagline != null)
                {
                    <div id="tagline">@Model.Tagline</div>
                }
                <h4>Overview</h4>
                <div id="description">@(Model.Description != "" ? Model.Description : "No description available")</div>
            </div>
        </div>
    </section>
</div>
<div class="details-container">
    <div class="main-details">
        <h3>Top Cast</h3>
        <div class="actors media-scroller">
            @if (Model.Actors != null && Model.Actors.Count > 0)
            {
                @*@foreach (var actor in Model.Actors)
                {
                    <div class="card">
                        <a asp-controller="Person" asp-action="PersonTmdb" asp-route-id="@actor.Id">
                            @if (actor.Photo != null)
                            {
                                <img src="@(posterPath + actor.Photo)" class="card-img-top">
                            }
                            else
                            {
                                <img src="~/images/default-icon.png" class="card-img-top">
                            }
                        </a>
                        <div class="card-body">
                            <p class="card-title">
                                <a asp-controller="Person" asp-action="PersonTmdb" asp-route-id="@actor.Id">@actor.Name</a>
                            </p>
                            <p class="small">@actor.Character</p>
                        </div>
                    </div>
                    index++;
                    if (index == 10)
                    {
                        <div class="more-actors">
                            <a href="#">View more</a>
                        </div>
                        break;
                    }
                }*@
            }
            else
            {
                <div id="no-actors">
                    <h5>No actors available</h5>
                </div>
            }
        </div>
        <hr />
        <div class="reviews">
            <div class="header-controls">
                <h3>Latest review</h3>
                <div class="controls">
                    <a asp-controller="Review" asp-action="All" asp-route-movieId="@Model.Id">
                        <p>View all reviews</p>
                    </a>
                    <a asp-controller="Review" asp-action="Create" asp-route-movieId="@Model.Id">
                        <p>Review this movie</p>
                    </a>
                </div>
            </div>
            @if (reviewUserOwner == null)
            {
                <div id="no-reviews">
                    <h5>No reviews yet</h5>
                </div>
            }
            else
            {
                <div class="review-section col-9">
                    @if (reviewUserOwner.Photo != null && reviewUserOwner.Photo != "")
                    {
                        <img src="@reviewUserOwner.Photo" />
                    }
                    else
                    {
                        <img src="~/images/default-user-icon.png" />
                    }
                    <div class="review-content">
                        <h5>@reviewUserOwner.UserName</h5>
                        <p class="review-date">Written on @Model.Review.CreationDate.ToString("MMM d, yyyy")</p>
                        @if (!Model.Review.IsSpoiler)
                        {
                            <p class="review-text">
                                @Model.Review.Content
                            </p>
                        }
                        else
                        {
                            <div class="spoilers-container">
                                <div class="spoiler-controls">
                                    <p>Review may contain spoilers</p>
                                    <p>Show it</p>
                                </div>
                                <p class="review-text">
                                    @Model.Review.Content
                                </p>
                            </div>
                        }
                        <div class="buttons">
                            <a asp-controller="Review" asp-action="SingleReview" asp-route-reviewId="@Model.Review.Id">
                                <p>Open review</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="aside-details">
        <div class="aside-member">
            <h5>Budget</h5>
            <p>
                @(
                    Model.Budget == 0 || Model.Budget == null ?
                    "-" :
                    $"${((long)@Model.Budget).ToString("#,##0.00")}")
            </p>
        </div>
        <div class="aside-member">
            <h5>Revenue</h5>
            <p>
                @(
                    Model.Revenue == 0 || Model.Revenue == null ?
                    "-" :
                    $"${((long)@Model.Revenue).ToString("#,##0.00")}")
            </p>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/moviesSingle.css" />
}
@section Scripts {
    <script src="~/js/reviews/spoilers.js"></script>
    <script src="~/js/reviews/reviewShortener.js"></script>
}