@model List<ViewUserMovieCardModel>
@{
	ViewData["Title"] = "My Movies";
}

@if (TempData["delete"] != null)
{
    <div class="green-alert">
        <p>@TempData["delete"]</p>
        <img src="~/images/button/x.png" />
    </div>
}
@if (TempData["edit"] != null)
{
    <div class="green-alert">
		<p>@TempData["edit"]</p>
        <img src="~/images/button/x.png" />
    </div>
}

<div class="row">
	@if (Model != null && Model.Count() > 0)
	{
		@foreach (var movie in Model)
		{
			if (movie.IsPublic)
			{
				<partial name="~/Views/Shared/Movie/_MovieSingleCardUserControls.cshtml" model="movie" />
			}
			else
			{
                <div class="card">
                    <span class="unapproved"></span>
                    @if (movie.PosterPath != null)
                    {
                        <img src="@movie.PosterPath" class="card-img-top" alt="@movie.Title poster">
                    }
                    else
                    {
                        <img src="~/images/default-poster1.png" />
                    }
                    <div class="card-body">
                        <div class="rating @WebUtilities.GetRatingColor(movie.Rating)">
                            <p>@(movie.Rating != null && float.Parse(movie.Rating) != 0 ? float.Parse(movie.Rating).ToString("0.0") : "NR")</p>
                        </div>
                        <h5 class="card-title">
                            @movie.Title
                        </h5>
                        <h6>
                            @(movie.ReleaseDate != null ? movie.ReleaseDate.Value.ToString("MMM dd, yyyy") : "-")
                        </h6>
                    </div>
                    <div class="user-controls">
                        <p>Unapproved</p>
                    </div>
                </div>
            }
		}
	}
	else
	{
		<div class="not-available-container">
			<p class="not-available">No available movies</p>
		</div>
	}
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/movies.css" />
	<link rel="stylesheet" href="~/css/userMovies.css" />
	<link rel="stylesheet" href="~/css/alert/alert.css" />
}
@section Scripts {
	<script src="~/js/alert/alert.js"></script>
}