@page
@model IndexModel
@using System.Security.Claims
@inject ViewMoviesDbContext data

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    var currentUser = data.Users.FirstOrDefault(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));

    var userMovies = data.Movies
        .Where(m => m.UserId == currentUser.Id)
        .ToList()
        .OrderByDescending(m => m.DateCreated)
        .Take(3)
        .ToList();

    var userLastReview = data.Reviews
        .Where(r => r.UserId == currentUser.Id)
        .OrderByDescending(r => r.CreationDate)
        .FirstOrDefault();

    var yearsFromCreation = DateTime.UtcNow.Year - currentUser.DateCreated.Year;
    var monthsFromCreation = ((DateTime.UtcNow.Year - currentUser.DateCreated.Year) * 12) + DateTime.UtcNow.Month - currentUser.DateCreated.Month;
    var daysFromCreation = (DateTime.UtcNow - currentUser.DateCreated).Days;
    var differenceInYear = monthsFromCreation - (yearsFromCreation * 12);
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="user-info">
            @if (currentUser?.Photo != null && currentUser.Photo != "")
            {
                <img class="profile-image" src="@currentUser.Photo" />
            }
            else
            {
                <img class="profile-image" src="~/images/default-user-icon.png" />
            }
            <div class="user-details">
                <p class="username">@User?.Identity?.Name</p>
                @if (differenceInYear == 1 && yearsFromCreation > 0)
                {
                    <p class="date">
                        Member for @yearsFromCreation @(yearsFromCreation > 1 ? "years" : "year")@(differenceInYear > 0 ? ", " + differenceInYear : "") month
                    </p>
                }
                else if (differenceInYear > 1 && yearsFromCreation > 0)
                {
                    <p class="date">
                        Member for @yearsFromCreation @(yearsFromCreation > 1 ? "years" : "year")@(differenceInYear > 0 ? ", " + differenceInYear : "") months
                    </p>
                }
                else if (yearsFromCreation <= 0 && monthsFromCreation <= 0)
                {
                    <p class="date">
                        Member for @daysFromCreation @(daysFromCreation > 1 ? "days" : "day")
                    </p>
                }
                else
                {
                    <p class="date">
                        Member for @monthsFromCreation @(monthsFromCreation > 1 ? "months" : "month")
                    </p>
                }
            </div>
        </div>
        <div class="account-info">
            <div class="header-button-section">
                <h3>Account information</h3>
                <p>Edit</p>
            </div>
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Username" class="form-control" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating">
                    <input class="form-control" disabled="" type="email" id="Email" name="Email" value="@currentUser.Email">
                    <label class="form-label" for="Email">Email</label>
                    <a class="change-link" asp-page="./Email">Change</a>
                </div>
                <div class="form-floating">
                    <input class="form-control" disabled="" type="password" id="Password" name="Password" value="secretpassword">
                    <label class="form-label" for="Password">Password</label>
                    <a class="change-link" asp-page="./ChangePassword">Change</a>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Photo" class="form-control" onClick="this.select();" />
                    <label asp-for="Input.Photo" class="form-label"></label>
                    <span asp-validation-for="Input.Photo" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
        <div class="uploaded-movies">
            <div class="header-button-section">
                <h3>Uploaded movies</h3>
                <a asp-controller="Movie" asp-action="UserMovies">View all</a>
            </div>
            <div class="movie-section">
                @if (userMovies != null && userMovies.Count() > 0)
                {
                    @foreach (var movie in userMovies)
                    {
                        <div class="movie-item">
                            <a asp-controller="Movie" asp-action="MovieUser" asp-route-movieId="@movie.Id">
                                @if (movie.Poster != null)
                                {
                                    <img src="@movie.Poster" />
                                }
                                else
                                {
                                    <img src="~/images/default-poster1.png" />
                                }
                            </a>
                            <div class="movie-info">
                                <a asp-controller="Movie" asp-action="MovieUser" asp-route-movieId="@movie.Id">@movie.Title</a>
                            </div>
                        </div>
                    }
                }
                else 
                {
                    <p class="not-available">No available movies</p>
                }
            </div>
        </div>
        <div class="written-reviews">
            <div class="header-button-section">
                <h3>Reviews</h3>
                <a asp-controller="Review" asp-action="AllUserReview">
                    View all
                </a>
            </div>
            @if (userLastReview != null)
            {
                <div class="review-section col-12">
                    @if (currentUser?.Photo != null && currentUser.Photo != "")
                    {
                        <img src="@currentUser.Photo" />

                    }
                    else
                    {
                        <img src="~/images/default-user-icon.png" />
                    }
                    <div class="review-content">
                        <h5>@currentUser.UserName</h5>
                        <p class="review-movie">
                            For movie - @userLastReview.Movie.Title
                        </p>
                        <p class="review-date">Written on @userLastReview.CreationDate.ToString("MMM d, yyyy")</p>
                        <p class="review-text">
                            @userLastReview.Content
                        </p>
                        <div class="buttons">
                            <a asp-controller="Review" asp-action="SingleReview" asp-route-reviewId="@userLastReview.Id">
                                <p>Open review</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="not-available">No available reviews</p>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/profile.js"></script>
}