@{
	string posterPath = "https://image.tmdb.org/t/p/w500";
	string ratingColor;
}

<div class="container">
	<div class="row">
		@foreach (var movie in Model.Movies)
		{
			string rating = "0.0";
			if (movie.Rating != null)
			{
				rating = movie.Rating;
			}

			if (float.Parse(rating) >= 8)
			{
				ratingColor = "green";
			}
			else if (float.Parse(rating) >= 5)
			{
				ratingColor = "orange";
			}
			else if (float.Parse(rating) < 5 && float.Parse(rating) > 0)
			{
				ratingColor = "red";
			}
			else
			{
				ratingColor = "black";
			}

			<div class="card">
				<a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">
					@if (movie.PosterPath != null)
					{
						<img src="@(posterPath + movie.PosterPath)" class="card-img-top" alt="@movie.Title poster">
					}
					else
					{
						<img src="~/images/default-poster1.png" />
					}
				</a>
				<div class="card-body">
					<div class="rating @ratingColor">
						<p>@(movie.Rating != null && float.Parse(movie.Rating) != 0 ? float.Parse(movie.Rating).ToString("0.0") : "NR")</p>
					</div>
					<h5 class="card-title">
						<a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">@movie.Title</a>
					</h5>
					<h6>@movie.ReleaseDate.ToString("MMM dd, yyyy")</h6>
				</div>
			</div>
		}
	</div>
</div>

@*@section MovieInfoSection {
	<div id="dark"></div>
	<div class="info-tab"></div>
}*@