@using RentAMovie.Areas.Admin.Models.Movie;
@model CardMovieModel
@{
    string posterPathCard = "https://image.tmdb.org/t/p/w500";
    string ratingColor;

    string rating = "0.0";
    if (Model.Rating != null)
    {
        rating = Model.Rating;
    }

    if (float.Parse(rating) >= 8)
    {
        ratingColor = "green";
    }
    else if (float.Parse(rating) >= 5)
    {
        ratingColor = "orange";
    }
    else if (float.Parse(rating) < 5 && float.Parse(rating) > 0)
    {
        ratingColor = "red";
    }
    else
    {
        ratingColor = "black";
    }

    int? publishYear;
    if (Model?.DatePublished != null)
    {
        publishYear = Model.DatePublished.Value.Year;
    }
    else
    {
        publishYear = null;
    }
}

<div class="card">
    @if (Model.TmdbId != null)
    {
        <a asp-controller="Movie"
        asp-action="MovieTmdb"
        asp-route-id="@Model.TmdbId"
        asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, Model.DatePublished.Value.Year)">
            @if (Model.Poster != null)
            {
                <img src="@(Model.TmdbId != null ? posterPathCard + Model.Poster : Model.Poster)" class="card-img-top" alt="@Model.Title poster">
            }
            else
            {
                <img src="~/images/default-poster1.png" />
            }
        </a>
    }
    else
    {
        <a asp-controller="Movie"
        asp-action="MovieUser"
        asp-route-movieId="@Model.Id"
        asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, publishYear)">
            @if (Model.Poster != null)
            {
                <img src="@(Model.TmdbId != null ? posterPathCard + Model.Poster : Model.Poster)" class="card-img-top" alt="@Model.Title poster">
            }
            else
            {
                <img src="~/images/default-poster1.png" />
            }
        </a>
    }
    <div class="card-body">
        <div class="rating @ratingColor">
            <p>
                @(Model.Rating != null && float.Parse(Model.Rating) != 0 ? float.Parse(Model.Rating).ToString("0.0") : "NR")
            </p>
        </div>
        <h5 class="card-title">
                @if (Model.TmdbId != null)
                {
                    <a asp-controller="Movie"
                    asp-action="MovieTmdb"
                    asp-route-id="@Model.TmdbId"
                    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, Model.DatePublished.Value.Year)">
                        @Model.Title
                    </a>
                }
                else
                {
                    <a asp-controller="Movie"
                    asp-action="MovieUser"
                    asp-route-movieId="@Model.Id"
                    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, publishYear)">
                        @Model.Title
                    </a>
                }
        </h5>
    </div>
</div>