@model SearchMovieModel

<div class="card">
    @if (Model.TmdbId != null)
    {
        <a asp-controller="Movie"
        asp-action="MovieTmdb"
        asp-route-id="@Model.TmdbId"
        asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
            @if (Model.Poster != null)
            {
                <img src="@(Model.TmdbId != null ? WebConstants.PosterPathCard + Model.Poster : Model.Poster)" class="card-img-top" alt="@Model.Title poster">
            }
            else
            {
                <img src="~/images/default-poster1.png" />
            }
        </a>
    }
    else
    {
        <a asp-controller="Movie"
        asp-action="MovieUser"
        asp-route-movieId="@Model.Id"
        asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
            @if (Model.Poster != null)
            {
                <img src="@(Model.TmdbId != null ? WebConstants.PosterPathCard + Model.Poster : Model.Poster)" class="card-img-top" alt="@Model.Title poster">
            }
            else
            {
                <img src="~/images/default-poster1.png" />
            }
        </a>
    }
    <div class="card-body">
        <div class="rating @WebUtilities.GetRatingColor(Model.Rating)">
            <p>
                @(Model.Rating != null && float.Parse(Model.Rating) != 0 ? float.Parse(Model.Rating).ToString("0.0") : "NR")
            </p>
        </div>
        <h5 class="card-title">
            @if (Model.TmdbId != null)
            {
                <a asp-controller="Movie"
                asp-action="MovieTmdb"
                asp-route-id="@Model.TmdbId"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
                    @Model.Title
                </a>
            }
            else
            {
                <a asp-controller="Movie"
                asp-action="MovieUser"
                asp-route-movieId="@Model.Id"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
                    @Model.Title
                </a>
            }
        </h5>
        <h6>@(Model.ReleaseDate != null ? Model.ReleaseDate.Value.ToString("MMM dd, yyyy") : "-")</h6>
    </div>
</div>