@model PopularMovieResultModule

<div class="card">
    <a asp-controller="Movie"
       asp-action="MovieTmdb"
       asp-route-id="@Model.TmdbId"
       asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
        @if (Model.PosterPath != null)
        {
            <img src="@(Model.TmdbId != null ? WebConstants.PosterPathCard + Model.PosterPath : Model.PosterPath)" class="card-img-top" alt="@Model.Title poster">
        }
        else
        {
            <img src="~/images/default-poster1.png" />
        }
    </a>
    <div class="card-body">
        <div class="rating @WebUtilities.GetRatingColor(Model.Rating)">
            <p>
                @(Model.Rating != null && float.Parse(Model.Rating) != 0 ? float.Parse(Model.Rating).ToString("0.0") : "NR")
            </p>
        </div>
        <h5 class="card-title">
            <a asp-controller="Movie"
               asp-action="MovieTmdb"
               asp-route-id="@Model.TmdbId"
               asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, WebUtilities.GetReleaseDateYear(Model.ReleaseDate))">
                @Model.Title
            </a>
        </h5>
    </div>
</div>