@model ViewUserMovieCardModel
@{
    string ratingColor;

    string rating = "0.0";
    if (Model.Rating != null)
    {
        rating = Model.Rating;
    }

    if (float.Parse(rating) >= 8)
    {
        ratingColor = "green";
    }
    else if (float.Parse(rating) >= 5)
    {
        ratingColor = "orange";
    }
    else if (float.Parse(rating) < 5 && float.Parse(rating) > 0)
    {
        ratingColor = "red";
    }
    else
    {
        ratingColor = "black";
    }
}
@{
    int? publishYear;
    if (Model?.ReleaseDate != null)
    {
        publishYear = Model.ReleaseDate.Value.Year;
    }
    else
    {
        publishYear = null;
    }
}

<div class="card">
    <a 
    asp-controller="Movie"
    asp-action="MovieUser" 
    asp-route-movieId="@Model.Id"
    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, publishYear)">
        @if (Model.PosterPath != null)
        {
            <img src="@Model.PosterPath" class="card-img-top" alt="@Model.Title poster">
        }
        else
        {
            <img src="~/images/default-poster1.png" />
        }
    </a>
    <div class="card-body">
        <div class="rating @ratingColor">
            <p>@(Model.Rating != null && float.Parse(Model.Rating) != 0 ? float.Parse(Model.Rating).ToString("0.0") : "NR")</p>
        </div>
        <h5 class="card-title">
            <a 
            asp-controller="Movie"
            asp-action="MovieUser" 
            asp-route-movieId="@Model.Id"
            asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Title, publishYear)">
                @Model.Title
            </a>
        </h5>
        <h6>@(Model.ReleaseDate != null ? Model.ReleaseDate.Value.ToString("MMM dd, yyyy") : "-")</h6>
    </div>
    <div class="user-controls">
        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
            Change details
        </a>
        <form class="mt-2" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id">
            <div class="d-grid gap-2">
                <input type="submit" value="Delete permanently" class="btn btn-danger mb-2"
                       onclick="return confirm('Are you sure you want to DELETE this moive: @Model.Title')" />
            </div>
        </form>
    </div>
</div>