@model SearchQueryModel
@{
	ViewData["Title"] = "Search";
	string posterPath = "https://image.tmdb.org/t/p/w500";
	string ratingColor;
}

<div class="search-bar">
	<form method="get" autocomplete="off">
		<div class="search">
			<input asp-for="SearchTerm" class="form-control" placeholder="What are you looking for?"/>
			<div class="search-btns">
				<input type="submit" value="Search" class="btn btn-primary" />
				<input type="submit" value="Reset" class="btn btn-secondary" />
			</div>
		</div>
		<div class="filters">
			<div class="filter-section">
				<p>Sort by</p>
				<select class="form-select" asp-for="SortBy">
					<option selected>Select</option>
					<option value="1">Rating Descending</option>
					<option value="2">Rating Ascending</option>
					@*<option value="3">Popularity Descending</option>
					<option value="4">Popularity Ascending</option>*@
					<option value="5">Release Date Descending</option>
					<option value="6">Release Date Ascending</option>
					<option value="7">Title (A-Z)</option>
					<option value="8">Title (Z-A)</option>
					<option value="9">Number Of Votes Descending</option>
					<option value="10">Number Of Votes Ascending</option>
				</select>
			</div>
			<div class="filter-section">
				<p>Genre</p>
				<select class="form-select" asp-for="Genre">
					<option selected>Select</option>
					@foreach (var genre in Model.AvailableGenres)
					{
						<option value="@genre.Id">@genre.Name</option>
					}
				</select>
			</div>
		</div>
	</form>
</div>
<div class="result">
	@if (Model.SearchTerm != null && Model.Movies.Count() > 0)
	{
		<div class="row">
			@foreach (var movie in Model.Movies)
			{
				string rating = "0";

				if (movie.Rating != null)
				{
					rating = movie.Rating;
				}

				if (float.Parse(rating) >= 8)
				{
					ratingColor = "green";
				}
				else if (float.Parse(rating) >= 5)
				{
					ratingColor = "orange";
				}
				else if (float.Parse(rating) < 5 && float.Parse(rating) > 0)
				{
					ratingColor = "red";
				}
				else
				{
					ratingColor = "black";
				}

				<div class="card">
					@if (movie.TmdbId != null)
					{
						<a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">
							@if (movie.PosterPath != null)
							{
								<img src="@(movie.TmdbId != null ? posterPath + movie.PosterPath : movie.PosterPath)" class="card-img-top" alt="@movie.Title poster">
							}
							else
							{
								<img src="~/images/default-poster1.png" />
							}
						</a>
					}
					else
					{
						<a asp-controller="Movie" asp-action="MovieUser" asp-route-movieId="@movie.Id">
							@if (movie.PosterPath != null)
							{
								<img src="@(movie.TmdbId != null ? posterPath + movie.PosterPath : movie.PosterPath)" class="card-img-top" alt="@movie.Title poster">
							}
							else
							{
								<img src="~/images/default-poster1.png" />
							}
						</a>
					}
					<div class="card-body">
						<div class="rating @ratingColor">
							<p>@(movie.Rating != null && float.Parse(movie.Rating) != 0 ? float.Parse(movie.Rating).ToString("0.0") : "NR")</p>
						</div>
						<h5 class="card-title">
							@if (movie.TmdbId != null)
							{
								<a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">@movie.Title</a>
							}
							else
							{
								<a asp-controller="Movie" asp-action="MovieUser" asp-route-movieId="@movie.Id">@movie.Title</a>
							}
						</h5>
						<h6>@(movie.ReleaseDate != null ? movie.ReleaseDate.Value.ToString("MMM dd, yyyy") : "-")</h6>
					</div>
					<img class="info" src="~/images/information.png" alt="info button">
				</div>
			}
		</div>
	}
	else
	{
		<p id="no-results">No results</p>
	}
</div>
@*<div>
	<a asp-controller="Search"
		asp-action="Index" 
		asp-route-currentPage="@(Model.CurrentPage + 1)"
		asp-route-searchTerm="@Model.SearchTerm">More</a>
</div>*@

@section Styles {
	<link rel="stylesheet" href="~/css/search.css" />
	<link rel="stylesheet" href="~/css/movies.css" />
}
@section Scripts {
    <script src="~/js/search/search.js"></script>
}