@model ViewIndexModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home";
    string posterPath = "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces";
    bool firstSlide = true;
}
@if (TempData["error"] != null)
{
    <div class="red-alert">
        <p>@TempData["error"]</p>
        <img src="~/images/button/x.png" />
    </div>
}
@if (TempData["created"] != null)
{
    <div class="green-alert">
        <p>@TempData["created"]</p>
        <img src="~/images/button/x.png" />
    </div>
}

<div class="hero">
    <h3>Get into the world of <span class="animation">movies</span></h3>
    <a asp-controller="Movie" asp-action="Popular" asp-route-CurrentPage="1">See what's popular</a>
    <img src="~/images/posters.jpg" />
    <span class="background-color"></span>
</div>
<div class="featured-section">
    <h2>Explore What’s Streaming</h2>
    <div class="featured-cards">
        @foreach (var movie in Model.NowPlayingMovies)
        {
            <partial name="~/Views/Shared/Movie/_MovieSingleCardTmdb.cshtml" model="movie" />
        }
    </div>
</div>
<div class="tab-sections">
    <div class="tab">
        <p>Find your next movie from a selection of over @(((int)Math.Round(Model.TotalMovies / 10.0)) * 10)+</p>
        <img src="~/images/home/moive.png"/>
    </div>
    <div class="tab">
        <img src="~/images/home/reviews.png" />
        <div class="tab-controls">
            <p>Share your thoughts and read others' reviews</p>
            <a asp-controller="Review" asp-action="AllUserReview">Your reviews</a>
        </div>
    </div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="tab">
            <div class="tab-controls">
                <p>Don't have an account yet?</p>
                <a asp-area="Identity" asp-page="/Account/Register">Join us</a>
            </div>
            <img src="~/images/home/join.png" />
        </div>
    }
</div>
<div class="featured-section-carousel">
    <h2>Highly Rated Action Movies</h2>
    <div class="carousel-section">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                @foreach (var movie in Model.TopActionMovies)
                {
                    if (firstSlide == true)
                    {
                        firstSlide = false;
                        <div class="carousel-item active">
                            <a 
                                asp-controller="Movie" 
                                asp-action="MovieTmdb" 
                                asp-route-id="@movie.TmdbId"
                                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(movie.Title, movie.ReleaseDate.Year)">
                                <div class="carouselImg" style="background-image: url(@(posterPath + movie.PosterPath));"></div>
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <a 
                                    asp-controller="Movie" 
                                    asp-action="MovieTmdb" 
                                    asp-route-id="@movie.TmdbId"
                                    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(movie.Title, movie.ReleaseDate.Year)">
                                    <h5>@movie.Title (@movie.ReleaseDate.ToString("yyy"))</h5>
                                </a>
                                <p>@movie.Description.Substring(0, 200)...</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <a 
                                asp-controller="Movie"
                                asp-action="MovieTmdb"
                                asp-route-id="@movie.TmdbId"
                                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(movie.Title, movie.ReleaseDate.Year)">
                                <div class="carouselImg" style="background-image: url(@(posterPath + movie.PosterPath));"></div>
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <a 
                                    asp-controller="Movie" 
                                    asp-action="MovieTmdb" 
                                    asp-route-id="@movie.TmdbId"
                                    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(movie.Title, movie.ReleaseDate.Year)">
                                    <h5>@movie.Title (@movie.ReleaseDate.ToString("yyy"))</h5>
                                </a>
                                <p>@movie.Description.Substring(0, 200)...</p>
                            </div>
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="featured-section">
    <h2>Most Popular Films Of The Week</h2>
    <div class="featured-cards">
        @foreach (var movie in Model.TrendingMovies)
        {
            <partial name="~/Views/Shared/Movie/_MovieSingleCardTmdb.cshtml" model="movie" />
        }
    </div>
</div>
<div class="featured-section">
    <h2>Recent Additions</h2>
    <div class="featured-cards">
        @foreach (var movie in Model.LatestMovies)
        {
            <partial name="~/Views/Shared/Movie/_MovieSingleCardMixed.cshtml" model="movie" />
        }
    </div>
</div>
@if (SignInManager.IsSignedIn(User) && Model.WatchlistMovies.Count() >= 5)
{
    <div class="featured-section">
        <h2>From Your Watchlist</h2>
        <div class="featured-cards">
            @foreach (var movie in Model.WatchlistMovies)
            {
                <partial name="~/Views/Shared/Movie/_MovieSingleCardMixed.cshtml" model="movie" />
            }
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/alert/alert.css" />
    <link rel="stylesheet" href="~/css/movies.css" />
}
@section Scripts {
    <script src="~/js/alert/alert.js"></script>
}