@model ViewPersonModel
@{
    ViewData["Title"] = Model.PersonData.Name;
    string photoPath = "https://image.tmdb.org/t/p/w300";
    string posterPath = "https://image.tmdb.org/t/p/w500";

    string[] biographyParts = new string[]{};
    if (Model.PersonData.Biography != null)
    {
        biographyParts = Model.PersonData.Biography.Split('\r', '\n');
    }

    bool fromWikipedia = false;
}
@{
    string? gender;
    string dateOfBirth;
    string deathDay;
    string placeOfBirth;

    if (Model.PersonData.Gender == null)
    {
        gender = "-";
    }
    else if (Model.PersonData.Gender == 2)
    {
        gender = "Male";
    }
    else
    {
        gender = "Female";
    }

    if (Model.PersonData.DateOfBirth == null)
    {
        dateOfBirth = "-";
    }
    else
    {
        dateOfBirth = Model.PersonData.DateOfBirth;
    }

    if (Model.PersonData.DeathDay == null)
    {
        deathDay = "-";
    }
    else
    {
        deathDay = Model.PersonData.DeathDay;
    }

    if (Model.PersonData.PlaceOfBirth == null)
    {
        placeOfBirth = "-";
    }
    else
    {
        placeOfBirth = Model.PersonData.PlaceOfBirth;
    }
}

<div class="main-section">
    <div class="img-section">
        <span class="blur-color"></span>
        @if (Model.PersonData.Photo != null)
        {
            <img src="@(photoPath + Model.PersonData.Photo)" alt="" />
        }
        else
        {
            <img src="~/images/default-icon.png" class="card-img-top">
        }
        <div class="details">
            <h5>Personal Info</h5>
            <div class="detail">
                <p>Name</p>
                <p>@Model.PersonData.Name</p>
            </div>
            
            <div class="detail">
                <p>Gender</p>
                <p>@gender</p>
            </div>
            
            @if (Model.PersonData.DeathDay == null)
            {
                <div class="detail">
                    <p>Birthday</p>
                    @if (dateOfBirth == "-")
                    {
                        <p>@dateOfBirth</p>
                    }
                    else
                    {
                        <p>@(DateTime.Parse(dateOfBirth).ToString("dd-MM-yyyy") + $" ({DateTime.UtcNow.Year - DateTime.Parse(dateOfBirth).Year} years old)")</p>
                    }
                </div>
            }
            else
            {
                <div class="detail">
                    <p>Birthday</p>
                    @if (dateOfBirth == "-")
                    {
                        <p>@dateOfBirth</p>
                    }
                    else
                    {
                        <p>@DateTime.Parse(dateOfBirth).ToString("dd-MM-yyyy")</p>
                    }
                </div>
                <div class="detail">
                    <p>Day of Death</p>
                    @if (deathDay == "-")
                    {
                        <p>@deathDay</p>
                    }
                    else
                    {
                        <p>@DateTime.Parse(deathDay).ToString("dd-MM-yyyy")</p>
                    }
                    
                </div>
            }
            <div class="detail">
                <p>Place of Birth</p>
                <p>@placeOfBirth</p>
            </div>
        </div>
    </div>
    <div class="info-section">
        <h2>@Model.PersonData.Name</h2>
        <div class="biography">
            <h5>Biography</h5>
        </div>
        <div class="parts">
            @if (Model.PersonData.Biography != null)
            {
                if (Model.PersonData.Biography.Count() > 0)
                {
                    foreach (var part in biographyParts)
                    {
                        if (part.Contains("Wikipedia") || part.Contains("wikipedia"))
                        {
                            fromWikipedia = true;
                        }

                        if (part != "" && !part.Contains("Wikipedia") && !part.Contains("wikipedia"))
                        {
                            <p>@part</p>
                        }
                    }
                }
                else
                {
                    <p>Missing biography for @Model.PersonData.Name</p>
                }
            }
            else
            {
                <p>Missing biography for @Model.PersonData.Name</p>
            }

            @if (fromWikipedia)
            {
                <p id="wikipedia">WIKIPEDIA</p>
            }
        </div>
        <h5>Known For</h5>
        <div class="movies">
            @foreach (var movie in Model.Movies)
            {
                <div class="movie-item">
                    <a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">
                        @if (movie.Poster != null)
                        {
                            <img src="@(posterPath + movie.Poster)" alt="@movie.Title poster" />

                        }
                        else
                        {
                            <img src="~/images/default-poster1.png" />
                        }
                    </a>
                    <a asp-controller="Movie" asp-action="MovieTmdb" asp-route-id="@movie.TmdbId">
                        <p>
                            @movie.Title
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/person/personSingle.css" />
}
@section Scripts {
    <script src="~/js/personSingle.js"></script>
}