@model List<ViewReviewModel>
@inject IMovieService service
@{
    Movie currentMovie = null;
    if (Model != null)
    {
        currentMovie = Model.FirstOrDefault().MovieInfo;
        ViewData["Title"] = $"Reviews for {currentMovie?.Title}";

    }
    else
    {
        ViewData["Title"] = $"Reviews for {ViewBag.MovieTitle}";
    }

    string backDropPath = "https://image.tmdb.org/t/p/w1920_and_h800_multi_faces";
    string posterPath = "https://image.tmdb.org/t/p/w500";
}
@{
    int? yearPublished;
    if (currentMovie?.DatePublished != null)
    {
        yearPublished = currentMovie.DatePublished.Value.Year;
    }
    else
    {
        yearPublished = null;
    }

    int? yearPublishedViewBag;
    if (ViewBag.MovieDatePublished != null)
    {
        yearPublishedViewBag = ViewBag.MovieDatePublished.Year;
    }
    else
    {
        yearPublishedViewBag = null;
    }
}

@if (Model != null && Model.Count() > 0)
{
    <div class="header-info">
        @if (currentMovie.Poster != null)
        {
            @if (currentMovie.TmdbId != null)
            {
                <img id="movie-poster" src="@(posterPath + currentMovie.Poster)" />
            }
            else
            {
                <img id="movie-poster" src="@currentMovie.Poster" />
            }
        }
        else
        {
            <img id="movie-poster" src="~/images/default-poster1.png" />
        }

        <div class="movie-title">
            @if (currentMovie.BackdropPath != null)
            {
                @if (currentMovie.TmdbId != null)
                {
                    <span class="backdrop" style="background-image: url(@(backDropPath + currentMovie.BackdropPath))"></span>
                }
                else
                {
                    <span class="backdrop" style="background-image: url(@currentMovie.BackdropPath)"></span>
                }
            }
            else
            {
                <img class="backdrop" src="~/images/default-movie-backdrop.png" />
            }
            <span class="blur-color"></span>

            @if (currentMovie.DatePublished != null)
            {
                <h1>@currentMovie.Title (@currentMovie.DatePublished.Value.Year)</h1>
            }
            else
            {
                <h1>@currentMovie.Title</h1>
            }

            @if (currentMovie.TmdbId != null)
            {
                <a 
                asp-controller="Movie"
                asp-action="MovieTmdb"
                asp-route-id="@currentMovie.TmdbId"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(currentMovie.Title, yearPublished)">
                    Back to movie
                </a>
            }
            else
            {
                <a 
                asp-controller="Movie" 
                asp-action="MovieUser" 
                asp-route-movieId="@currentMovie.Id"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(currentMovie.Title, yearPublished)">
                    Back to movie
                </a>
            }
            <a asp-controller="Review" asp-action="Create" asp-route-movieId="@currentMovie.Id">
                <p>Review this movie</p>
            </a>
        </div>
    </div>
    <div class="reviews">
        @foreach (var review in Model)
        {
            var currentReviewOwner = service.GetUserById(review.UserId);
            var containSpoiler = review.IsSpoiler;

            <div class="review-section col-9">
                
                @if (currentReviewOwner.Photo != null && currentReviewOwner.Photo != "")
                {
                    <img src="@currentReviewOwner.Photo" />
                }
                else
                {
                    <img src="~/images/default-user-icon.png" />
                }
                <div class="review-content">
                    <h5>@currentReviewOwner.UserName</h5>
                    <p class="review-date">Written on @review.CreationDate.ToString("MMM d, yyyy")</p>
                    @if (!containSpoiler)
                    {
                        <p class="review-text">
                            @review.Content
                        </p>
                    }
                    else
                    {
                        <div class="spoilers-container">
                            <div class="spoiler-controls">
                                <p>Review may contain spoilers</p>
                                <p>Show it</p>
                            </div>
                            <p class="review-text">
                                @review.Content
                            </p>
                        </div>
                    }
                    <div class="buttons">
                        <a asp-controller="Review" asp-action="SingleReview" asp-route-reviewId="@review.Id">
                            <p>Open review</p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else 
{
    <div class="header-info">
        @if (ViewBag.MoviePoster != null)
        {
            @if (ViewBag.MovieTmdbId != null)
            {
                <img id="movie-poster" src="@(posterPath + ViewBag.MoviePoster)" />
            }
            else
            {
                <img id="movie-poster" src="@ViewBag.MoviePoster" />
            }
        }
        else
        {
            <img id="movie-poster" src="~/images/default-poster1.png" />
        }

        <div class="movie-title">
            @if (ViewBag.MovieBackdropPath != null)
            {
                @if (ViewBag.MovieTmdbId != null)
                {
                    <span class="backdrop" style="background-image: url(@(backDropPath + ViewBag.MovieBackdropPath))"></span>
                }
                else
                {
                    <span class="backdrop" style="background-image: url(@ViewBag.MovieBackdropPath)"></span>
                }
            }
            else
            {
                <img class="backdrop" src="~/images/default-movie-backdrop.png" />
            }
            <span class="blur-color"></span>

            @if (ViewBag.MovieDatePublished != null)
            {
                <h1>@ViewBag.MovieTitle (@ViewBag.MovieDatePublished.Year)</h1>
            }
            else
            {
                <h1>@ViewBag.MovieTitle</h1>
            }

            @if (ViewBag.MovieTmdbId != null)
            {
                <a 
                asp-controller="Movie"
                asp-action="MovieTmdb" 
                asp-route-id="@ViewBag.MovieTmdbId"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(ViewBag.MovieTitle, yearPublishedViewBag)">
                    Back to movie
                </a>
            }
            else
            {
                <a 
                asp-controller="Movie" 
                asp-action="MovieUser" 
                asp-route-movieId="@ViewBag.MovieId"
                asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(ViewBag.MovieTitle, yearPublishedViewBag)">
                    Back to movie
                </a>
            }
            <a asp-controller="Review" asp-action="Create" asp-route-movieId="@ViewBag.MovieId">
                <p>Review this movie</p>
            </a>
        </div>
    </div>
    <div id="no-reviews">
        No reviews yet
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/reviews.css" />
}
@section Scripts {
    <script src="~/js/reviews/spoilers.js"></script>
    <script src="~/js/reviews/reviewShortener.js"></script>
}