@model ViewReviewModel
@inject IMovieService service

@{
    ViewData["Title"] = $"Review for {Model.MovieInfo.Title}";

    var currentReviewOwner = service.GetUserById(Model.UserId);
    var currentUser = service.GetUserById(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<a id="back" asp-controller="Review" asp-action="All" asp-route-movieId="@Model.MovieInfo.Id">
    <p>Back to all</p>
</a>
<div id="review">
    <div class="review-section col-9">
        @if (currentReviewOwner.Photo != null && currentReviewOwner.Photo != "")
        {
            <img src="@currentReviewOwner.Photo" />
        }
        else
        {
            <img src="~/images/default-user-icon.png" />
        }
        <div class="review-content">
            <h5>@currentReviewOwner.UserName</h5>
            <p class="review-movie">
                For movie - @Model.MovieInfo.Title
            </p>
            <p class="review-date">Written on @Model.CreationDate.ToString("MMM d, yyyy")</p>
            <p class="review-text">
                @Model.Content
            </p>
            @if (currentUser?.Id == Model.UserId)
            {
                <div class="buttons">
                    <form class="mt-2" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@Model.Id">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Delete" class="mb-2"
                               onclick="return confirm('Are you sure you want to permanently DELETE this review?')" />
                        </div>
                    </form>
                </div>
                
            }
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/reviews.css" />
    <link rel="stylesheet" href="~/css/reviewSingle.css" />
}